
waffle/afl-analyze
waffle/afl-analyze.dSYM/
waffle/afl-as
waffle/afl-as.dSYM/
waffle/afl-clang
waffle/afl-clang++
waffle/afl-fuzz
waffle/afl-fuzz.dSYM/
waffle/afl-g++
waffle/afl-gcc
waffle/afl-gcc.dSYM/
waffle/afl-gotcpu
waffle/afl-gotcpu.dSYM/
waffle/afl-showmap
waffle/afl-showmap.dSYM/
waffle/afl-tmin
waffle/afl-tmin.dSYM/
waffle/as
waffle/test-instr.dSYM/
waffle/afl-catch-dlclose.so
waffle/afl-llvm-pass.so
waffle/afl-llvm-rt-64.o
waffle/afl-llvm-rt-32.o
waffle/afl-llvm-rt.o
waffle/waffle-clang
waffle/waffle-clang++
waffle/waffle-fuzz
waffle/trace_function.o
.DS_Store
tests/.DS_Store
tests/test1/.DS_Store
tests/test2/.DS_Store
tests/test1/in
tests/test2/in
tests/test1/out_MemLock*
tests/test2/out_MemLock*
tests/test1/out_AFL*
tests/test2/out_AFL*
tests/test1/*.dSYM/
tests/test2/*.dSYM/
tests/test1/example1AFL
tests/test2/example2AFL
tests/test2/example2MemLock
waffle/waffle-clang.dSYM/
waffle/waffle-fuzz.dSYM/
waffle/afl-catch-dlclose.so.dSYM/
waffle/afl-llvm-pass.so.dSYM/
waffle/llvm_mode/test-instr.dSYM/
.vscode/

waffle/rs/
